apiVersion: v1
kind: Service
metadata:
  name: application-service
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: application-service
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080